<div class="searchBar">
    <div class="container">
        <form action="/search" method="POST" class="search_form" role="search">
            <input type="search" name="searchTerm" id="searchInput" placeholder="Search a site..." aria-label="Search">
        </form>
        <div id="searchClose">Close</div>
    </div>
</div>