<div class="about-header">
    <h1 class="about-title">Want to know more about me?</h1>
     <img class="about-hero" src="/img/Mk.jpg" alt="pc setup">
</div>

<div class="about-info">
    <p>I am the Ghost King, but my name is Reabetswe, a local freelance developer breaking into the tech industry. I've been gaming since 2015 and started my coding and streaming career in 2021. I'm a huge fan of Japanese art, anime, and animals, particularly goats and dogs. The nickname "Ghost" came from the day I watched my favorite anime, which is Hellsing Ultimate. However, I do more than just that. My coding skills are equivalent to a junior to senior level, but I'm constantly pushing myself to learn more. After all, no matter how old we are, we continue learning from everything around us.</p>
    <p>In addition to my daily coding life, I'm also more focused on streaming, where I play some fantastic music that helps me share the life of a coder and streamer. Honestly, if we ever meet, you might consider hiring me for your company, especially if you value innovative ideas. To get to know me better and see what I excel at, let's work together to achieve my follower and subscriber goals and create a community of like-minded individuals. That's just a glimpse of who I am, but you can visit my social platforms to stay updated on what's new, what's happening, and what we're doing here in South Africa.</p>
    <p>The story behind this site starts with the NetNinja, an excellent teacher who has greatly contributed to improving my coding knowledge and skills. Inspired by this journey, I took on the challenge of redesigning this entire blog myself, handling both the backend and the frontend.</p>

        <p>Currently, it's a bit challenging for me to work on this project, but my vision is to transform the website into a hub for sharing the latest tech trends and gaming news. I've primarily focused on strengthening my understanding of backend development during this process. One of the most challenging aspects of the redesign has been creating an admin panel that grants full control over the website, a feature I plan to use in my future projects.</p>
</div>
