

:root {
    --white: #ffffff;
    --gray: #7b817b;
    --gray-light: #c6bfc0;
    --purple: #d8148d;
    --green:rgba(64, 236, 26, 0.933);
    --black:#050606;
    --font-size-base: 1rem;
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --font-size-lg:clamp(1.56rem, 0.61vw + 1.31rem, 2.11rem);
    --border-radius: 10px;
    
}

body {
   font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--white);
    font-size: var(--font-size-base);
    background-color: rgba(130, 58, 172, 0.905);
    background-image: url(/img/japan6.jpg);
    margin: 0;
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

a {
    color: var(--white);
   text-decoration: none;
}

h1 {
    font-size: var(--font-size-xl);
    border-bottom: 4px solid #76ea33;
}


h2 {
    font-size: var(--font-size-lg);
    text-align: center;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: var(--font-size-md);
}

input[type="text"],input[type="email"],input[type="password"],input[type="search"],select, textarea {
       font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1rem;
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 0.7rem 0.75rem;
        margin-bottom: 1rem;
        border-radius: 12px;
}


.btn {
    border: none;
    color: #0d0707;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7px;
    font-weight: 500;
    float: right;
}


img {
    width: 100%;
    height: auto;
}


/*Layouts*/

.container {
    max-width: 982px;
    margin:  0 auto;
    padding: 0 10px;
}

.main {
    padding: 20px 0;
}

/*Hero section*/

.hero-image {
    max-width: 528px;
    filter: drop-shadow(0px 44px 34px rgb(0,0,0,0.25));
    overflow: hidden;
    border-radius: var(--border-radius);
   
    
     /* Animation */
     animation-name: bounce;
     animation-duration: 4s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-in-out;

}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Adjust the bounce height as needed */
    }
}


/* Main Section */
.header {
    display: grid;
    align-items: center;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo button" "menu menu";
    padding-top: 10px;
}

 @media only screen and (min-width: 768px) {
    .header {
        grid-template-columns:  auto 1fr auto;
        grid-template-areas: "logo menu button";
    }
}
 
.header_logo {
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
    grid-area: logo;
}

.header_nav {
    justify-content: center;
    display: flex;
    grid-area: menu;
}

.logo {
    width: 30%;
    height: 10%;
    border-radius: 50%;
}

.header_logo:hover {
    color: #a0f226;
}

.header_logo, .header_nav, .header_button {
    width: 100%;
}


.header_button {
    display: flex;
    justify-content: end;
    grid-area: button;
}

.header_button button{
    display: flex;
    gap: 0.3rem;
    align-items: center;
    border: 0;
    padding: 13px 19px;
    background: none;
    border-radius: 10px;
    border:  2px solid transparent;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white);
}


.header_button button:hover {
    border: 3px solid var(--white);
}

/*Header -> Navigation*/
.header_nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 0;
    font-size: 1.5rem;
}

.header_nav ul a {
    padding: 10px;
    text-decoration: none;
} 


.header_nav ul a.active {
    color: #a0f226;
}

.header_nav ul a:hover {
    color: #a0f226;
}

/*Author -HomePage*/

.author {
    padding: 10px 0;
    text-align: center;
}

.author_heading {
    margin-top: 10px;
    margin-bottom: 5px;
}

.author_body {
    font-size: var(--font-size-md);
    margin: 5px 0 40px 0;
}

/*Home Article List*/
.articles {
    white-space: pre-wrap;
}



.articles_heading {
    margin-top:  4rem;
    font-weight: 600;
    border-bottom: 4px solid #76ea33;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}


.articles-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    color: #0d0c0c;
}


.articles-list_date {
    font-size: 1rem;
    color: #050606;
    width: 100px;
    display: inline-block;
    width: 260px;
}

.articles-list_date:hover {
    color: #ffffff;
}


.articles-ul li a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    margin: 18px 0;
    background:#ffffff;
    border-radius: 6px;
    color: #050606;
}

.articles-ul li a:hover {
    color: #ffffff;
    background: #76ea33;
}

@media only screen and (min-width: 768px) {
    .articles-ul li a {
        flex-direction: column;
        align-items: center;
    }

    .articles-list_date {
        text-align: right;
    }
}


.articles-ul li {
    font-size: 1.5rem;
    cursor: pointer;
    transition: filter 0.1s;
    border-radius: 10px;  
}
    
.articles-ul li:not(:last-child) {
    border-bottom: 1px solid var(--gray-light);
}

.articles-ul li:hover {
    filter: none;
}
.articles-ul li:hover li {
    filter: blur(3px);
}

.articles-ul:hover li:hover {
    filter: none;
}

.articles-a {
    color: #050606;
    border: 3px solid #0d0707;
}

.articles_background {
    color: #0d0707;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px 20px;
    font-size: var(--font-size-md);
}



/*Footer */
.footer {
    margin: 4rem;
    text-align: center;
}


/* SearchBar */


.searchBar {
    visibility: hidden; 
    transform: rotateY(-100px);
    background-color: rgba(36, 237, 153, 0.79);
    padding: 4px 0;
    position: absolute;
    left: 0;
    right: 0;
}

.searchBar input {
    margin: 0;
    border: 0;
}


.searchBar .open {
    transform: translateY(0);
    transition: transform 0.1s;
}

#searchClose {
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    padding: 15px;
    cursor: pointer;
}

.pagination{
    font-size: 1.3rem;
    color: #ffffff;
    text-decoration: none;
    margin-top: 40px;
    display: inline-block;
}

.pagination:hover {
    color: violet;
}

/* About */

.about-header {
    margin: auto 0;
    display: grid;
    justify-content: center;
    align-items: center;
}

.about-hero {
    max-width: 528px;
    filter: drop-shadow(0px 44px 34px rgb(0,0,0,0.25));
    overflow: hidden;
    border-radius: var(--border-radius);
   
    
     /* Animation */
     animation-name: bounce;
     animation-duration: 4s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-in-out;

}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Adjust the bounce height as needed */
    }
}


.about-info {
    margin: 20px;
    color: #0d0707;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px 20px;
    font-size: var(--font-size-md);
}

/*Contact*/

svg {
    width: 30%;
    height: auto;
}

.contact-header ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 0;
    font-size: 0.5rem;
}


/*Dashboard Admin*/

.admin-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: 4px solid #a0f226;
    font-size: 20px;
    font-weight: 500;
}

.admin-posts {
    padding: 0;
    margin: 0;
}

.admin-posts-controls form {
    display: inline-block;
}

.admin-posts-controls .btn {
    display: inline-block;
    background-color: var(--green);
    color: var(--white);
    border: 0;
    text-decoration: none;
    font-size: .8rem;
    padding: 4px 8px;
    line-height: 2;
}


.admin-posts li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    color: #050606;
    
}

.admin-posts a {
    background: #ffffff;
    color: #050606;
    border-radius: 10px;
    height: auto;
    width: 70%;
}


.admin-posts a:hover {
    color: #ffffff;
    background: #76ea33;
}

.button {
    border: 3px solid #ffffff;
    border-radius: 5px;
    padding: 13px 17px; 
}

.button:hover {
    color: #ffffff;
    background: #76ea33;
}

.register {
    border-bottom: #76ea33;
}

.delete {
    background: crimson;
    color: #ffffff;
}